@import '../../App.scss';

.pageLayout {
    display: flex;
    flex-direction: column;
    min-height: 100vh; // Sikrer at containeren fylder hele højden af viewporten
    opacity: 0; /* Starter usynligt */
    transition: opacity 1.5s ease-in-out; /* Fade-in transition */
  }
  
  .pageLayoutVisible {
    opacity: 1; /* Fuld synlighed */
  }
    
.main {
       margin:auto; // Center main horisontalt
   }


    