@import '../../App.scss';

.pageLayout {
    display: flex;
    flex-direction: column;
    min-height: 100vh; // Sikrer at containeren fylder hele højden af viewporten
    margin: 0;





    img {
        width: 100%;
    }
}
.main {
    margin-top: 30rem;
       // max-width: 1440px;
       margin:auto; // Center main horisontalt


   }