@import '../../App.scss';
  
  .modal {
    background-color: $PAYNESGRAY;
    padding: 2rem;

    width: 99.9vw;
    height: 500px;
    position: relative;
    margin-top: -2rem;
  }
  
  .reviewForm {
    margin-bottom: 15px;
    width: 30%;
    margin: auto;

    
    input{
      border-radius: 4px;
      border: none;
   margin-bottom: 0.5rem;
    }
    textarea{
      resize: none;
      border-radius: 4px;
      border: none;
    }
    select{
      resize: none;
      border-radius: 4px;
      border: none;
      margin-bottom: 0.5rem;
    }
  }

  
  input, textarea, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
  }
  
  button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color:$ROSAQUARTZ;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .buttonBox{
    display: flex;
    justify-content: flex-end;
  }
  .closeButton {

    border: none;
    cursor: pointer;
    padding: 0;

    svg {
      fill: #fff;  // Farve på lukkeikonet
      height: 24px;
      width: 24px;
    }}
  