.container {
   margin-top: 8rem;

   min-height: 100vh;
   padding: 2rem;
   padding-top: 8rem;
   width: 100%; 
   max-width: 1900px; 
   margin: 0 auto; 
 
   .filters {
     position: absolute;  // Sørger for, at filterne kan placeres relativt til .container
     right: 12rem;  // Juster afstand fra højre kant
     top: 10rem;  // Juster afstand fra toppen af .container
     display: flex;
     gap: 1rem;
     @media (max-width: 1850px) {
     left: 3rem;
      right: 0;
      margin: auto; 
      margin-right: 1rem;
    }
     
   }
   .filters select {

      padding: 0.5rem 1rem;  // Tilføj ekstra padding
      border-radius: 8px;  // Rund hjørnerne
      border: 1px solid #ccc;  // Tilføj en let grå kant
      font-size: 1rem;  // Øg skriftstørrelsen, hvis nødvendigt
      background-color: #fff;  // Hvid baggrundsfarve
      width: 220px;
      transition: border-color 0.3s ease;  // Tilføj en overgangseffekt for border-farve
      cursor: pointer;  // Tilføj cursor pointer for at indikere klikbarhed
      @media (max-width: 650px) {
        width: 40%;
 
       }
    }
  
    .filters select:focus {
      border-color: #007bff;  // Skift border-farve når elementet har fokus
      outline: none;  // Fjern standard outline ved fokus
    }
   .section {
      margin-top: 6rem;
     display: flex;
     flex-wrap: wrap;
     gap: 2rem;
     justify-content: center;  // Centrer kortene horisontalt
     img{
      height: 350px;
     }
 
     @media (max-width: 950px) {
       gap: 1rem;
       justify-content: center;  // Sørg for centrering på mobile enheder også
     }
   }
 }
 