@import '../App.scss'; 
.imageSection {
  position: relative; /* Så vi kan overlappe main */
  z-index: 1;

  img {
    width: 100vw;
    height: 600px;
    object-fit: cover;
    margin: 0;
    z-index: 0;
    margin-top: -4rem;
  }

  .raisinBlackBar {
    background-color: $RAISINBLACK;
    width: 100vw;
    height: 30px;
    position: absolute; /* Gør bjælken positioneret i forhold til imageSection */
    bottom: 0; /* Placer bjælken i bunden af billedet */
    z-index: 2; /* Sikrer, at bjælken er over billedet */
  }
}

.main {
  background-color: rgba(255, 255, 255, 0.928); /* Eller den baggrundsfarve, du ønsker */
  width: 80vw;
  margin: auto;
  position: relative; /* Lad det lappe ind over billedet */
  margin-top: -15rem; /* Justér denne værdi for at få det ønskede overlap */
  z-index: 3; /* Sørg for, at main er over imageSection */
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.gridSection {
  width: 100%;
  margin: auto;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  .div1,
  .div2,
  .div3,
  .div4,
  .div5,
  .div6 {
    padding: 1rem;
  }
  .div1 {
    h1 {
      font-size: 2rem;
    }
    p {
      margin: 0.5rem 0;
    }
  }
    .div2 {
    display: flex;
    gap: 1rem;
  
      .iconWrapper {
        width: 80px;
        height: 80px;
        background-color: #fff;
        border: 0.25px solid $PAYNESGRAY;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover{
          background-color: $ROSAQUARTZ;
        }
   
        img {
          width: 40%;
          height: 39%;
        }

      }
    }

  .div3,
  .div4,
  .div5,
  .div6 {
    p {
      margin: 0.5rem 0;
    }

    h1 {
      font-size: 2rem;
    }
  }
}

.descriptionSection {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 6rem;
  padding: 2rem;

  .description {
    font-size: 1rem;
    line-height: 1.8;
    padding: 2rem 4rem 0 0;
    font-weight: 400;
  }

  .employeeInfo {
    margin-bottom: 3rem;
   p:nth-of-type(1){
    font-weight: 800;
   }

    img {
      width: 300px;
      height: 300px;
      object-fit: cover;
      object-position: top;

    }

    p {
      margin: 0.5rem 0;
    }
  }
}
