@import '../App.scss';
.home{  position: relative;
  min-height: 100vh;
  transition: opacity 1.5s ease-in-out; /* Transition for fade-in */

.gallerySection{
  width: 100vw;
  overflow: hidden;
  margin-top: -4rem;
}

}
.estatesSection{
margin-bottom: 2rem;
height: 300px;
}
.reviewSection{
  position: relative;
  display: block;
}

  h2{
    margin-bottom: 2rem;
  }


  .reviewFormContainer {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }

  .reviewForm {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  
  .reviewForm input,
  .reviewForm textarea,
  .reviewForm select,
  .reviewForm button {
    margin-bottom: 10px;
    padding: 8px;
    font-size: 16px;
  }
  


  
  .homeVisible {
    opacity: 1; /* Fuld synlighed når siden er klar */

  }
