@import '../App.scss';

.velkommen{
padding-top: 3rem;
  @media (max-width: 1250px) { 

    width: 80%;
    margin: auto;
    padding-bottom: 2rem;
      }
}
.mainContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 1200px;
  gap: 1rem;
  margin-bottom: 4rem;
  margin-top: 4rem;
  @media (max-width: 1250px) { 
width: 80%;
margin: auto;
  }
  @media (max-width: 830px) { 
    grid-template-columns: 1fr;
    gap: 3rem;
      }
 

  .likedEstatesList,
  .reviewsList {
    display: flex;
    flex-direction: column;
    button{
      padding: 0.5rem;
      border-radius: 4px;
      border: none;
      cursor: pointer;
      margin-right: 1rem;
      background-color: $PAYNESGRAY;
      color: white;
      &:hover {
        opacity: 0.8;
      }
    }
    ul {
      list-style: none;
      li a {
        line-height: 4rem;
        margin-right: 1rem;
      }
    }
    .reviewButtons{
      display: flex;
      justify-content: flex-end;
      margin-bottom: 1rem;

      button{
      &:nth-of-type(1){
        background-color: $ROSAQUARTZ;
      }
    }
    
    }
    @media (max-width: 830px) { 
      margin-bottom: 2rem;}
  }   
  
}  
.reviewButtonsRE{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
gap: 1rem;
button {
  padding: 10px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  margin-top: 1rem;
  background-color: $RAISINBLACK;
  color: white;

  &:hover {
    opacity: 0.8;
  }
}
}
.formContainer{
  margin-top: 2rem;
  background-color: THISTLE;
  border-radius: 4px;
  padding: 2rem;
  margin-bottom: 3%;
}
.editForm {
  margin-top: 2rem;
  width: 90%;
  margin: auto;

input {
  border: none;
      border-radius: 4px;
      margin-top: 1rem;
      margin-bottom: 0.5rem;
      padding-bottom: 1rem;
 
    }
  
    textarea {
      resize: none;
      border-radius: 4px;
      border: none;
    }
  
    select {
      resize: none;
      border-radius: 4px;
      border: none;
      margin-bottom: 0.5rem;
    }
  }