@import '../../App.scss'; // Importér dine variabler her

.header {
  width: 100%;
  position: relative;
  z-index: 9999; // Sørg for, at headeren ligger under navigationen, hvis navigationen er absolut positioneret

}


.background {
  position: relative;
}

.backgroundTop {
  background-color: $RAISINBLACK; // Farven fra app.scss
  height: 150px;
  width: 100%;
  padding: 2rem;
  clip-path: polygon(100% 0, 100% 100%, 25% 70%);
}


.backgroundBottom {
  position: absolute;
  top: 0;
  background-color: $RAISINBLACK; // Farven fra app.scss
  height: 150px;
  width: 100%;
  padding: 2rem;
  clip-path: polygon(0% 0, 100% 0%, 0 100%);

}

.logoLink {
  position: absolute;
  top: 2rem;
  left: 1rem;
  margin-top: 0.5rem;
  display: block;
  z-index: 9999;
  padding: 2rem;

  @media (max-width: 850px) {
    width: 190px;
    height: 16px;

  }
}

.logo {
  width: 269px;
  height: 105px;

}

.userInfo {
  position: absolute;
  top: 0rem;
  right: 2rem;
  z-index: 9999;

  // background-color: $RAISINBLACK; // Farven fra app.scss
  @media (max-width: 850px) {
    right: 0rem;
    top: 2rem;
    z-index: 1;
  }

  .userLog {
 
    margin-right: 1rem;
    margin-top: 1.2rem;
    text-decoration: none;
    font-size: 0.9rem;
    color: $ROSAQUARTZ;

    .username {
      @media (max-width: 850px) {
        display: none;
      }
    }


    button {
      @include form-button;
      background-color: $ROSAQUARTZ;
      margin-left: 0.4rem; // her bruger jeg en mixin.

      @media (max-width: 850px) {
        margin-left: 0rem;
        padding: 0.1rem 0.5rem;

      }
    }
  }

}