@import '../../App.scss';

.header {
  width: 100%;
  position: fixed;
  z-index: 9999;

  //her har vi headergrafikken med den skøre form
  .background {
    position: relative;

    .backgroundTop {
      background-color: $RAISINBLACK; // Farven fra app.scss
      height: 150px;
      width: 100%;
      padding: 2rem;
      clip-path: polygon(100% 0, 100% 100%, 25% 70%);
    }

    .backgroundBottom {
      position: absolute;
      top: 0;
      background-color: $RAISINBLACK; // Farven fra app.scss
      height: 150px;
      width: 100%;
      padding: 2rem;
      clip-path: polygon(0% 0, 100% 0%, 0 100%);
    }
  }


  .logoLink {
    position: absolute;
    top: 2rem;
    left: 1rem;
    margin-top: 0.5rem;
    display: block;

    padding: 2rem;
  }

  .logo {
    height: 100%;
    width: 100%;
  }

  .userInfo {
    position: absolute;
    top: 0rem;
    right: 2rem;
    z-index: 9999;

    @media (max-width: 850px) {
      right: 0rem;
      top: 2rem;
      z-index: 1;
    }

    .userLog {
      margin-right: 1rem;
      margin-top: 1.2rem;
      text-decoration: none;
      font-size: 0.9rem;
      color: $ROSAQUARTZ;

      .username {
        @media (max-width: 850px) {
          display: none;
        }
      }

      button {
        @include form-button; // her bruger jeg en mixin.
        margin-left: 0.4rem;
        background-color: $ROSAQUARTZ;

        @media (max-width: 850px) {
          margin-left: 0rem;
          padding: 0.1rem 0.5rem;
        }
      }
    }

  }
}