@import '../App.scss'; // Importér dine variabler her

.header {
  width: 100%;

  position: relative;
}
.background{
  position: relative;
}

.backgroundTop {
  background-color: $RAISINBLACK; // Farven fra app.scss
  height: 100px;
  width: 100%;


}


  .backgroundBottom {
    background-color: #fff;
    height: 37px;
    width: 100%;
    position: absolute;
    bottom: 0;
    clip-path: polygon(25% 0, 100% 100%, 0 100%);
    z-index: 1;
}

.logoLink {
  position: absolute;
top: 1rem;
  left: 1rem;
  margin-top: 0.5rem; 
  display: block;
  z-index: 9999;
}

.logo {
  width: 269px;
  height: 105px;
}
