@import '../App.scss';

.pageLayout {
    display: flex;
    flex-direction: column;
    min-height: 100vh; // Sikrer at containeren fylder hele højden af viewporten

    .main {
        flex: 1; // Gør main sektionen fleksibel og fylder tilgængelig plads
        max-width: 1440px;
        margin: 0 auto; // Center main horisontalt

        @media (max-width: 1024px) { // Tablet breakpoint
            padding: 15px;
        }

        @media (max-width: 768px) { // Mobil breakpoint
            padding: 10px;
        }
    }



    img {
        width: 100%;
    }
}
