.slider {
  position: relative;
margin: auto;
  height: 400px;
  overflow: hidden;
  background-color: #f0f0f0;
}

.sliderImage {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sliderImage img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 1.5s ease-in-out; /* Tilføjer blød overgang */
}

.active {
  opacity: 1;
}

.inactive {
  opacity: 0;
}

.prevButton,
.nextButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 24px;
}

.prevButton {
  left: 10px;
}

.nextButton {
  right: 10px;
}
