@import '../../App.scss';

.reviewsSection {
  margin-top: 15rem;
  text-align: center;
  margin-bottom: 2rem;
  position: relative; // Sørger for, at knappen positioneres i forhold til denne sektion
  
  .reviewContainer {
    padding: 2rem;
    background-color: $LAVENDERBLUSH;
    height: 200px;
    border-bottom: 48px solid $ROSAQUARTZ;
    position: relative; // Sørger for, at knappen placeres korrekt i forhold til denne container
    @media (max-width: 850px) {
      height: 30vh;
    }
  }

  .writeReviewButton {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); // Justererer centrering af knappen
    z-index: 9999; // Sørger for, at knappen er ovenpå alt andet
    padding: 0.5rem 1rem;
    height: 48px;
    border: none;
    background-color: $ROSAQUARTZ;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease; 
    
    &:hover {
      background-color: $PAYNESGRAY;
    }
  }
  .clicked {
    display: none;
  }
}
  .h{
    @include heading1;
    }