// src/components/LikeButton/LikeButton.module.scss
.likes {
    display: flex;
    align-items: center;
  }
  
  .likeButton {
    background: none;
    border: none;
    margin-top: 0.8rem;
    cursor: pointer;
    font-size: 24px;
    width:100px;
    height: 90px;
  }


  
  .likes span {
    margin-right: 8px;
  }
  