.card {
  width: 484px;
  height: 100%;
  border-radius: 8px;
  background-color: #fff;
  overflow: hidden;
  opacity: 1;
  transition: opacity 0.3s ease;
  position: relative;
  padding-bottom: 1rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.331); 
  @media (max-width: 1250px) { 
    width: 80%;
  }
}

.cardImage {
  padding: 1rem;
  width: 100%;
  height: 400px;
  object-fit: cover;
  :hover {
    opacity: 0.8;
  }
  
}

.cardContent {
  padding: 1rem;

  width: 100%;
  .headline{
    display: flex;
    justify-content: space-between;
    margin-bottom: -2rem;
    h2:nth-child(2){

      padding: 0.5rem 1rem;
      border-radius: 8px;
      color: #fff;
    }
  }
  .price{
    font-size: 1.5rem;
    font-weight: 500;
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;
  }
}

.cardContent h3 {
  margin: 0;
  font-size: 1rem;
}

.cardContent p {
  margin: 0.5rem 0;
}




/* Special styling for Home page */
.homeCard:nth-child(2) {
  margin-top: -6rem;
  @media (max-width: 1250px) { 
    margin-top: 0;
  }
}
